/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for iGenomes paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines reference genomes using iGenome paths.
    Can be used by any config that customises the base path using:
        $params.igenomes_base / --igenomes_base
----------------------------------------------------------------------------------------
*/

params.genomes = [
    // illumina iGenomes reference file paths
    'GRCh38' : [
        fasta           : "${params.igenomes_base}/Homo_sapiens/GATK/GRCh38/Sequence/WholeGenomeFasta/Homo_sapiens_assembly38.fasta",
        genome_name     : "hg38",
        ascat_alleles   : "https://raw.githubusercontent.com/IntGenomicsLab/test-datasets/main/references/ascat/G1000_alleles_hg38.zip",
        ascat_loci      : "https://raw.githubusercontent.com/IntGenomicsLab/test-datasets/main/references/ascat/G1000_loci_hg38.zip",
        ascat_loci_gc   : "${params.igenomes_base}/Homo_sapiens/GATK/GRCh38/Annotation/ASCAT/GC_G1000_hg38.zip",
        ascat_loci_rt   : "${params.igenomes_base}/Homo_sapiens/GATK/GRCh38/Annotation/ASCAT/RT_G1000_hg38.zip",
        centromere_bed  : "https://raw.githubusercontent.com/KolmogorovLab/Wakhan/refs/heads/main/src/annotations/grch38.cen_coord.curated.bed",
        pon_file        : "https://raw.githubusercontent.com/KolmogorovLab/Severus/refs/heads/main/pon/PoN_1000G_hg38.tsv.gz",
        bed_file        : "https://raw.githubusercontent.com/KolmogorovLab/Severus/refs/heads/main/vntrs/human_GRCh38_no_alt_analysis_set.trf.bed",
        vep_genome      : "GRCh38",
        vep_species     : "homo_sapiens",
        savana_contigs   : "https://raw.githubusercontent.com/cortes-ciriano-lab/savana/main/example/contigs.chr.hg38.txt",
        savana_g1000_vcf : "1000g_hg38",
        vep_alphamissense        : "https://storage.googleapis.com/dm_alphamissense/AlphaMissense_hg38.tsv.gz",
        vep_alphamissense_tbi    : "https://g-608c0c.273595.03c0.data.globus.org/VEP_plugins/AlphaMissense_hg38.tsv.gz.tbi",
        // A dated release rather than the rolling vcf_GRCh38/clinvar.vcf.gz, whose VCF and
        // separately-downloaded index both move weekly: two runs would otherwise annotate
        // differently, and one straddling an update could pair a new VCF with an old index.
        // Downloaded once per run by VEPPLUGIN_CLINVAR, which checks it against NCBI's published MD5
        vep_clinvar              : "https://ftp.ncbi.nlm.nih.gov/pub/clinvar/vcf_GRCh38/archive_2.0/2026/clinvar_20260829.vcf.gz",
        vep_clinvar_tbi          : "https://ftp.ncbi.nlm.nih.gov/pub/clinvar/vcf_GRCh38/archive_2.0/2026/clinvar_20260829.vcf.gz.tbi",
        vep_clinvar_md5          : "dffae274fd559ee764d1de44f36df2cf",
        // No vep_clinvar_tbi_md5: NCBI publishes no checksum for its indexes
        // CADD is opt-in: the SNV table alone is 81 GB, and Nextflow's foreign-file cache is
        // per session, so every non-resumed run would re-stage it. Enable with --vep_cadd_snv
        // and --vep_cadd_indel (each with its _tbi); see docs/usage.md.
        vep_revel                : "https://rothsj06.dmz.hpc.mssm.edu/revel-v1.3_all_chromosomes.zip",
        sigprofiler_genome : "GRCh38",
        gnomad          : "${params.igenomes_base}/Homo_sapiens/ClairSTO/GRCh38/Annotation/gnomad.r2.1.af-ge-0.001.sites.vcf.gz",
        dbsnp           : "${params.igenomes_base}/Homo_sapiens/ClairSTO/GRCh38/Annotation/dbsnp.b138.non-somatic.sites.vcf.gz",
        onekgenomes     : "${params.igenomes_base}/Homo_sapiens/ClairSTO/GRCh38/Annotation/1000g-pon.sites.vcf.gz",
        colors          : "${params.igenomes_base}/Homo_sapiens/ClairSTO/GRCh38/Annotation/CoLoRSdb.GRCh38.v1.1.0.deepvariant.glnexus.af-ge-0.001.vcf.gz",
    ],
    'CHM13' : [
        fasta           : "${params.igenomes_base}/Homo_sapiens/UCSC/CHM13/Sequence/WholeGenomeFasta/genome.fa",
        genome_name     : "CHM13",
        ascat_alleles   : "https://raw.githubusercontent.com/IntGenomicsLab/test-datasets/main/references/ascat/G1000_alleles_CHM13.zip",
        ascat_loci      : "https://raw.githubusercontent.com/IntGenomicsLab/test-datasets/main/references/ascat/G1000_loci_CHM13.zip",
        ascat_loci_gc   : "https://github.com/IntGenomicsLab/test-datasets/raw/refs/heads/main/references/ascat/GCcontent_SNPloci_CHM13.txt.zip",
        centromere_bed  : "https://raw.githubusercontent.com/KolmogorovLab/Wakhan/refs/heads/main/src/annotations/chm13v2_cen_coord.bed",
        pon_file        : "https://g-608c0c.273595.03c0.data.globus.org/merged_PON_1000G_ASAP_withmedianCI.tsv.gz",
        bed_file        : "https://raw.githubusercontent.com/KolmogorovLab/Severus/refs/heads/main/vntrs/chm13.bed",
        vep_genome      : "T2T-CHM13v2.0",
        vep_species     : "homo_sapiens_gca009914755v4",
        savana_contigs   : "https://raw.githubusercontent.com/IntGenomicsLab/test-datasets/main/references/savana/contigs.chr.chm13.txt",
        savana_g1000_vcf : "1000g_t2t",
        vep_alphamissense_aa     : "https://g-608c0c.273595.03c0.data.globus.org/VEP_plugins/alphamissense_protein_v2023_uniprot-2026_03.tsv.gz",
        vep_alphamissense_aa_tbi : "https://g-608c0c.273595.03c0.data.globus.org/VEP_plugins/alphamissense_protein_v2023_uniprot-2026_03.tsv.gz.tbi",
        // Pinned to a release rather than current_variation/, which moves at every Ensembl release
        vep_polyphen_sift_db     : "https://ftp.ensembl.org/pub/release-115/variation/pangenomes/Human/homo_sapiens_pangenome_PolyPhen_SIFT_20240502.db",
        vep_clinvar              : "https://ftp.ensembl.org/pub/rapid-release/species/Homo_sapiens/GCA_009914755.4/ensembl/variation/2022_10/vcf/2024_07/clinvar_20240624_GCA_009914755.4.vcf.gz",
        vep_clinvar_tbi          : "https://ftp.ensembl.org/pub/rapid-release/species/Homo_sapiens/GCA_009914755.4/ensembl/variation/2022_10/vcf/2024_07/clinvar_20240624_GCA_009914755.4.vcf.gz.tbi",
        // From the CHECKSUMS file Ensembl publishes alongside the VCF and its index
        vep_clinvar_md5          : "98bde67975c5f0b95230672f642a3c07",
        vep_clinvar_tbi_md5      : "50b634a69c36e2479cc2c8f71a8eafd6",
        // SigProfilerMatrixGenerator CHM13-T2T payload (SigProfilerSuite/SigProfilerMatrixGenerator#250);
        // not yet hosted on the AlexandrovLab FTP, so it is fetched from the IntGenomicsLab Globus collection
        sigprofiler_genome     : "CHM13-T2T",
        sigprofiler_genome_url : "https://g-608c0c.273595.03c0.data.globus.org/chm13_release_2026-09/CHM13-T2T.tar.gz",
        gnomad          : "${params.igenomes_base}/Homo_sapiens/ClairSTO/CHM13/Annotation/ClairSTO-pon/final_gnomad.vcf.gz",
        dbsnp           : "${params.igenomes_base}/Homo_sapiens/ClairSTO/CHM13/Annotation/ClairSTO-pon/final_dbsnp.vcf.gz",
        onekgenomes     : "${params.igenomes_base}/Homo_sapiens/ClairSTO/CHM13/Annotation/ClairSTO-pon/final_1kgenomes.vcf.gz",
        colors          : "${params.igenomes_base}/Homo_sapiens/ClairSTO/CHM13/Annotation/ClairSTO-pon/final_colors.vcf.gz",
        asap            : "${params.igenomes_base}/Homo_sapiens/ClairSTO/CHM13/Annotation/ClairSTO-pon/WGS_CHM13_ASAP.vcf.gz",
    ],
    'GRCm38' : [
        fasta       : "${params.igenomes_base}/Mus_musculus/Ensembl/GRCm38/Sequence/WholeGenomeFasta/genome.fa",
        bwa         : "${params.igenomes_base}/Mus_musculus/Ensembl/GRCm38/Sequence/BWAIndex/version0.6.0/",
        bowtie2     : "${params.igenomes_base}/Mus_musculus/Ensembl/GRCm38/Sequence/Bowtie2Index/",
        star        : "${params.igenomes_base}/Mus_musculus/Ensembl/GRCm38/Sequence/STARIndex/",
        bismark     : "${params.igenomes_base}/Mus_musculus/Ensembl/GRCm38/Sequence/BismarkIndex/",
        gtf         : "${params.igenomes_base}/Mus_musculus/Ensembl/GRCm38/Annotation/Genes/genes.gtf",
        bed12       : "${params.igenomes_base}/Mus_musculus/Ensembl/GRCm38/Annotation/Genes/genes.bed",
        readme      : "${params.igenomes_base}/Mus_musculus/Ensembl/GRCm38/Annotation/README.txt",
        mito_name   : "MT",
        macs_gsize  : "1.87e9",
        blacklist   : "${projectDir}/assets/blacklists/GRCm38-blacklist.bed",
    ],
    'TAIR10' : [
        fasta       : "${params.igenomes_base}/Arabidopsis_thaliana/Ensembl/TAIR10/Sequence/WholeGenomeFasta/genome.fa",
        bwa         : "${params.igenomes_base}/Arabidopsis_thaliana/Ensembl/TAIR10/Sequence/BWAIndex/version0.6.0/",
        bowtie2     : "${params.igenomes_base}/Arabidopsis_thaliana/Ensembl/TAIR10/Sequence/Bowtie2Index/",
        star        : "${params.igenomes_base}/Arabidopsis_thaliana/Ensembl/TAIR10/Sequence/STARIndex/",
        bismark     : "${params.igenomes_base}/Arabidopsis_thaliana/Ensembl/TAIR10/Sequence/BismarkIndex/",
        gtf         : "${params.igenomes_base}/Arabidopsis_thaliana/Ensembl/TAIR10/Annotation/Genes/genes.gtf",
        bed12       : "${params.igenomes_base}/Arabidopsis_thaliana/Ensembl/TAIR10/Annotation/Genes/genes.bed",
        readme      : "${params.igenomes_base}/Arabidopsis_thaliana/Ensembl/TAIR10/Annotation/README.txt",
        mito_name   : "Mt",
    ],
    'EB2' : [
        fasta       : "${params.igenomes_base}/Bacillus_subtilis_168/Ensembl/EB2/Sequence/WholeGenomeFasta/genome.fa",
        bwa         : "${params.igenomes_base}/Bacillus_subtilis_168/Ensembl/EB2/Sequence/BWAIndex/version0.6.0/",
        bowtie2     : "${params.igenomes_base}/Bacillus_subtilis_168/Ensembl/EB2/Sequence/Bowtie2Index/",
        star        : "${params.igenomes_base}/Bacillus_subtilis_168/Ensembl/EB2/Sequence/STARIndex/",
        bismark     : "${params.igenomes_base}/Bacillus_subtilis_168/Ensembl/EB2/Sequence/BismarkIndex/",
        gtf         : "${params.igenomes_base}/Bacillus_subtilis_168/Ensembl/EB2/Annotation/Genes/genes.gtf",
        bed12       : "${params.igenomes_base}/Bacillus_subtilis_168/Ensembl/EB2/Annotation/Genes/genes.bed",
        readme      : "${params.igenomes_base}/Bacillus_subtilis_168/Ensembl/EB2/Annotation/README.txt",
    ],
    'UMD3.1' : [
        fasta       : "${params.igenomes_base}/Bos_taurus/Ensembl/UMD3.1/Sequence/WholeGenomeFasta/genome.fa",
        bwa         : "${params.igenomes_base}/Bos_taurus/Ensembl/UMD3.1/Sequence/BWAIndex/version0.6.0/",
        bowtie2     : "${params.igenomes_base}/Bos_taurus/Ensembl/UMD3.1/Sequence/Bowtie2Index/",
        star        : "${params.igenomes_base}/Bos_taurus/Ensembl/UMD3.1/Sequence/STARIndex/",
        bismark     : "${params.igenomes_base}/Bos_taurus/Ensembl/UMD3.1/Sequence/BismarkIndex/",
        gtf         : "${params.igenomes_base}/Bos_taurus/Ensembl/UMD3.1/Annotation/Genes/genes.gtf",
        bed12       : "${params.igenomes_base}/Bos_taurus/Ensembl/UMD3.1/Annotation/Genes/genes.bed",
        readme      : "${params.igenomes_base}/Bos_taurus/Ensembl/UMD3.1/Annotation/README.txt",
        mito_name   : "MT",
    ],
    'WBcel235' : [
        fasta       : "${params.igenomes_base}/Caenorhabditis_elegans/Ensembl/WBcel235/Sequence/WholeGenomeFasta/genome.fa",
        bwa         : "${params.igenomes_base}/Caenorhabditis_elegans/Ensembl/WBcel235/Sequence/BWAIndex/version0.6.0/",
        bowtie2     : "${params.igenomes_base}/Caenorhabditis_elegans/Ensembl/WBcel235/Sequence/Bowtie2Index/",
        star        : "${params.igenomes_base}/Caenorhabditis_elegans/Ensembl/WBcel235/Sequence/STARIndex/",
        bismark     : "${params.igenomes_base}/Caenorhabditis_elegans/Ensembl/WBcel235/Sequence/BismarkIndex/",
        gtf         : "${params.igenomes_base}/Caenorhabditis_elegans/Ensembl/WBcel235/Annotation/Genes/genes.gtf",
        bed12       : "${params.igenomes_base}/Caenorhabditis_elegans/Ensembl/WBcel235/Annotation/Genes/genes.bed",
        mito_name   : "MtDNA",
        macs_gsize  : "9e7",
    ],
    'CanFam3.1' : [
        fasta       : "${params.igenomes_base}/Canis_familiaris/Ensembl/CanFam3.1/Sequence/WholeGenomeFasta/genome.fa",
        bwa         : "${params.igenomes_base}/Canis_familiaris/Ensembl/CanFam3.1/Sequence/BWAIndex/version0.6.0/",
        bowtie2     : "${params.igenomes_base}/Canis_familiaris/Ensembl/CanFam3.1/Sequence/Bowtie2Index/",
        star        : "${params.igenomes_base}/Canis_familiaris/Ensembl/CanFam3.1/Sequence/STARIndex/",
        bismark     : "${params.igenomes_base}/Canis_familiaris/Ensembl/CanFam3.1/Sequence/BismarkIndex/",
        gtf         : "${params.igenomes_base}/Canis_familiaris/Ensembl/CanFam3.1/Annotation/Genes/genes.gtf",
        bed12       : "${params.igenomes_base}/Canis_familiaris/Ensembl/CanFam3.1/Annotation/Genes/genes.bed",
        readme      : "${params.igenomes_base}/Canis_familiaris/Ensembl/CanFam3.1/Annotation/README.txt",
        mito_name   : "MT",
    ],
    'GRCz10' : [
        fasta       : "${params.igenomes_base}/Danio_rerio/Ensembl/GRCz10/Sequence/WholeGenomeFasta/genome.fa",
        bwa         : "${params.igenomes_base}/Danio_rerio/Ensembl/GRCz10/Sequence/BWAIndex/version0.6.0/",
        bowtie2     : "${params.igenomes_base}/Danio_rerio/Ensembl/GRCz10/Sequence/Bowtie2Index/",
        star        : "${params.igenomes_base}/Danio_rerio/Ensembl/GRCz10/Sequence/STARIndex/",
        bismark     : "${params.igenomes_base}/Danio_rerio/Ensembl/GRCz10/Sequence/BismarkIndex/",
        gtf         : "${params.igenomes_base}/Danio_rerio/Ensembl/GRCz10/Annotation/Genes/genes.gtf",
        bed12       : "${params.igenomes_base}/Danio_rerio/Ensembl/GRCz10/Annotation/Genes/genes.bed",
        mito_name   : "MT",
    ],
    'BDGP6' : [
        fasta       : "${params.igenomes_base}/Drosophila_melanogaster/Ensembl/BDGP6/Sequence/WholeGenomeFasta/genome.fa",
        bwa         : "${params.igenomes_base}/Drosophila_melanogaster/Ensembl/BDGP6/Sequence/BWAIndex/version0.6.0/",
        bowtie2     : "${params.igenomes_base}/Drosophila_melanogaster/Ensembl/BDGP6/Sequence/Bowtie2Index/",
        star        : "${params.igenomes_base}/Drosophila_melanogaster/Ensembl/BDGP6/Sequence/STARIndex/",
        bismark     : "${params.igenomes_base}/Drosophila_melanogaster/Ensembl/BDGP6/Sequence/BismarkIndex/",
        gtf         : "${params.igenomes_base}/Drosophila_melanogaster/Ensembl/BDGP6/Annotation/Genes/genes.gtf",
        bed12       : "${params.igenomes_base}/Drosophila_melanogaster/Ensembl/BDGP6/Annotation/Genes/genes.bed",
        mito_name   : "M",
        macs_gsize  : "1.2e8",
    ],
    'EquCab2' : [
        fasta       : "${params.igenomes_base}/Equus_caballus/Ensembl/EquCab2/Sequence/WholeGenomeFasta/genome.fa",
        bwa         : "${params.igenomes_base}/Equus_caballus/Ensembl/EquCab2/Sequence/BWAIndex/version0.6.0/",
        bowtie2     : "${params.igenomes_base}/Equus_caballus/Ensembl/EquCab2/Sequence/Bowtie2Index/",
        star        : "${params.igenomes_base}/Equus_caballus/Ensembl/EquCab2/Sequence/STARIndex/",
        bismark     : "${params.igenomes_base}/Equus_caballus/Ensembl/EquCab2/Sequence/BismarkIndex/",
        gtf         : "${params.igenomes_base}/Equus_caballus/Ensembl/EquCab2/Annotation/Genes/genes.gtf",
        bed12       : "${params.igenomes_base}/Equus_caballus/Ensembl/EquCab2/Annotation/Genes/genes.bed",
        readme      : "${params.igenomes_base}/Equus_caballus/Ensembl/EquCab2/Annotation/README.txt",
        mito_name   : "MT",
    ],
    'EB1' : [
        fasta       : "${params.igenomes_base}/Escherichia_coli_K_12_DH10B/Ensembl/EB1/Sequence/WholeGenomeFasta/genome.fa",
        bwa         : "${params.igenomes_base}/Escherichia_coli_K_12_DH10B/Ensembl/EB1/Sequence/BWAIndex/version0.6.0/",
        bowtie2     : "${params.igenomes_base}/Escherichia_coli_K_12_DH10B/Ensembl/EB1/Sequence/Bowtie2Index/",
        star        : "${params.igenomes_base}/Escherichia_coli_K_12_DH10B/Ensembl/EB1/Sequence/STARIndex/",
        bismark     : "${params.igenomes_base}/Escherichia_coli_K_12_DH10B/Ensembl/EB1/Sequence/BismarkIndex/",
        gtf         : "${params.igenomes_base}/Escherichia_coli_K_12_DH10B/Ensembl/EB1/Annotation/Genes/genes.gtf",
        bed12       : "${params.igenomes_base}/Escherichia_coli_K_12_DH10B/Ensembl/EB1/Annotation/Genes/genes.bed",
        readme      : "${params.igenomes_base}/Escherichia_coli_K_12_DH10B/Ensembl/EB1/Annotation/README.txt",
    ],
    'Galgal4' : [
        fasta       : "${params.igenomes_base}/Gallus_gallus/Ensembl/Galgal4/Sequence/WholeGenomeFasta/genome.fa",
        bwa         : "${params.igenomes_base}/Gallus_gallus/Ensembl/Galgal4/Sequence/BWAIndex/version0.6.0/",
        bowtie2     : "${params.igenomes_base}/Gallus_gallus/Ensembl/Galgal4/Sequence/Bowtie2Index/",
        star        : "${params.igenomes_base}/Gallus_gallus/Ensembl/Galgal4/Sequence/STARIndex/",
        bismark     : "${params.igenomes_base}/Gallus_gallus/Ensembl/Galgal4/Sequence/BismarkIndex/",
        gtf         : "${params.igenomes_base}/Gallus_gallus/Ensembl/Galgal4/Annotation/Genes/genes.gtf",
        bed12       : "${params.igenomes_base}/Gallus_gallus/Ensembl/Galgal4/Annotation/Genes/genes.bed",
        mito_name   : "MT",
    ],
    'Gm01' : [
        fasta       : "${params.igenomes_base}/Glycine_max/Ensembl/Gm01/Sequence/WholeGenomeFasta/genome.fa",
        bwa         : "${params.igenomes_base}/Glycine_max/Ensembl/Gm01/Sequence/BWAIndex/version0.6.0/",
        bowtie2     : "${params.igenomes_base}/Glycine_max/Ensembl/Gm01/Sequence/Bowtie2Index/",
        star        : "${params.igenomes_base}/Glycine_max/Ensembl/Gm01/Sequence/STARIndex/",
        bismark     : "${params.igenomes_base}/Glycine_max/Ensembl/Gm01/Sequence/BismarkIndex/",
        gtf         : "${params.igenomes_base}/Glycine_max/Ensembl/Gm01/Annotation/Genes/genes.gtf",
        bed12       : "${params.igenomes_base}/Glycine_max/Ensembl/Gm01/Annotation/Genes/genes.bed",
        readme      : "${params.igenomes_base}/Glycine_max/Ensembl/Gm01/Annotation/README.txt",
    ],
    'Mmul_1' : [
        fasta       : "${params.igenomes_base}/Macaca_mulatta/Ensembl/Mmul_1/Sequence/WholeGenomeFasta/genome.fa",
        bwa         : "${params.igenomes_base}/Macaca_mulatta/Ensembl/Mmul_1/Sequence/BWAIndex/version0.6.0/",
        bowtie2     : "${params.igenomes_base}/Macaca_mulatta/Ensembl/Mmul_1/Sequence/Bowtie2Index/",
        star        : "${params.igenomes_base}/Macaca_mulatta/Ensembl/Mmul_1/Sequence/STARIndex/",
        bismark     : "${params.igenomes_base}/Macaca_mulatta/Ensembl/Mmul_1/Sequence/BismarkIndex/",
        gtf         : "${params.igenomes_base}/Macaca_mulatta/Ensembl/Mmul_1/Annotation/Genes/genes.gtf",
        bed12       : "${params.igenomes_base}/Macaca_mulatta/Ensembl/Mmul_1/Annotation/Genes/genes.bed",
        readme      : "${params.igenomes_base}/Macaca_mulatta/Ensembl/Mmul_1/Annotation/README.txt",
        mito_name   : "MT",
    ],
    'IRGSP-1.0' : [
        fasta       : "${params.igenomes_base}/Oryza_sativa_japonica/Ensembl/IRGSP-1.0/Sequence/WholeGenomeFasta/genome.fa",
        bwa         : "${params.igenomes_base}/Oryza_sativa_japonica/Ensembl/IRGSP-1.0/Sequence/BWAIndex/version0.6.0/",
        bowtie2     : "${params.igenomes_base}/Oryza_sativa_japonica/Ensembl/IRGSP-1.0/Sequence/Bowtie2Index/",
        star        : "${params.igenomes_base}/Oryza_sativa_japonica/Ensembl/IRGSP-1.0/Sequence/STARIndex/",
        bismark     : "${params.igenomes_base}/Oryza_sativa_japonica/Ensembl/IRGSP-1.0/Sequence/BismarkIndex/",
        gtf         : "${params.igenomes_base}/Oryza_sativa_japonica/Ensembl/IRGSP-1.0/Annotation/Genes/genes.gtf",
        bed12       : "${params.igenomes_base}/Oryza_sativa_japonica/Ensembl/IRGSP-1.0/Annotation/Genes/genes.bed",
        mito_name   : "Mt",
    ],
    'CHIMP2.1.4' : [
        fasta       : "${params.igenomes_base}/Pan_troglodytes/Ensembl/CHIMP2.1.4/Sequence/WholeGenomeFasta/genome.fa",
        bwa         : "${params.igenomes_base}/Pan_troglodytes/Ensembl/CHIMP2.1.4/Sequence/BWAIndex/version0.6.0/",
        bowtie2     : "${params.igenomes_base}/Pan_troglodytes/Ensembl/CHIMP2.1.4/Sequence/Bowtie2Index/",
        star        : "${params.igenomes_base}/Pan_troglodytes/Ensembl/CHIMP2.1.4/Sequence/STARIndex/",
        bismark     : "${params.igenomes_base}/Pan_troglodytes/Ensembl/CHIMP2.1.4/Sequence/BismarkIndex/",
        gtf         : "${params.igenomes_base}/Pan_troglodytes/Ensembl/CHIMP2.1.4/Annotation/Genes/genes.gtf",
        bed12       : "${params.igenomes_base}/Pan_troglodytes/Ensembl/CHIMP2.1.4/Annotation/Genes/genes.bed",
        readme      : "${params.igenomes_base}/Pan_troglodytes/Ensembl/CHIMP2.1.4/Annotation/README.txt",
        mito_name   : "MT",
    ],
    'Rnor_5.0' : [
        fasta       : "${params.igenomes_base}/Rattus_norvegicus/Ensembl/Rnor_5.0/Sequence/WholeGenomeFasta/genome.fa",
        bwa         : "${params.igenomes_base}/Rattus_norvegicus/Ensembl/Rnor_5.0/Sequence/BWAIndex/version0.6.0/",
        bowtie2     : "${params.igenomes_base}/Rattus_norvegicus/Ensembl/Rnor_5.0/Sequence/Bowtie2Index/",
        star        : "${params.igenomes_base}/Rattus_norvegicus/Ensembl/Rnor_5.0/Sequence/STARIndex/",
        bismark     : "${params.igenomes_base}/Rattus_norvegicus/Ensembl/Rnor_5.0/Sequence/BismarkIndex/",
        gtf         : "${params.igenomes_base}/Rattus_norvegicus/Ensembl/Rnor_5.0/Annotation/Genes/genes.gtf",
        bed12       : "${params.igenomes_base}/Rattus_norvegicus/Ensembl/Rnor_5.0/Annotation/Genes/genes.bed",
        mito_name   : "MT",
    ],
    'Rnor_6.0' : [
        fasta       : "${params.igenomes_base}/Rattus_norvegicus/Ensembl/Rnor_6.0/Sequence/WholeGenomeFasta/genome.fa",
        bwa         : "${params.igenomes_base}/Rattus_norvegicus/Ensembl/Rnor_6.0/Sequence/BWAIndex/version0.6.0/",
        bowtie2     : "${params.igenomes_base}/Rattus_norvegicus/Ensembl/Rnor_6.0/Sequence/Bowtie2Index/",
        star        : "${params.igenomes_base}/Rattus_norvegicus/Ensembl/Rnor_6.0/Sequence/STARIndex/",
        bismark     : "${params.igenomes_base}/Rattus_norvegicus/Ensembl/Rnor_6.0/Sequence/BismarkIndex/",
        gtf         : "${params.igenomes_base}/Rattus_norvegicus/Ensembl/Rnor_6.0/Annotation/Genes/genes.gtf",
        bed12       : "${params.igenomes_base}/Rattus_norvegicus/Ensembl/Rnor_6.0/Annotation/Genes/genes.bed",
        mito_name   : "MT",
    ],
    'R64-1-1' : [
        fasta       : "${params.igenomes_base}/Saccharomyces_cerevisiae/Ensembl/R64-1-1/Sequence/WholeGenomeFasta/genome.fa",
        bwa         : "${params.igenomes_base}/Saccharomyces_cerevisiae/Ensembl/R64-1-1/Sequence/BWAIndex/version0.6.0/",
        bowtie2     : "${params.igenomes_base}/Saccharomyces_cerevisiae/Ensembl/R64-1-1/Sequence/Bowtie2Index/",
        star        : "${params.igenomes_base}/Saccharomyces_cerevisiae/Ensembl/R64-1-1/Sequence/STARIndex/",
        bismark     : "${params.igenomes_base}/Saccharomyces_cerevisiae/Ensembl/R64-1-1/Sequence/BismarkIndex/",
        gtf         : "${params.igenomes_base}/Saccharomyces_cerevisiae/Ensembl/R64-1-1/Annotation/Genes/genes.gtf",
        bed12       : "${params.igenomes_base}/Saccharomyces_cerevisiae/Ensembl/R64-1-1/Annotation/Genes/genes.bed",
        mito_name   : "MT",
        macs_gsize  : "1.2e7",
    ],
    'EF2' : [
        fasta       : "${params.igenomes_base}/Schizosaccharomyces_pombe/Ensembl/EF2/Sequence/WholeGenomeFasta/genome.fa",
        bwa         : "${params.igenomes_base}/Schizosaccharomyces_pombe/Ensembl/EF2/Sequence/BWAIndex/version0.6.0/",
        bowtie2     : "${params.igenomes_base}/Schizosaccharomyces_pombe/Ensembl/EF2/Sequence/Bowtie2Index/",
        star        : "${params.igenomes_base}/Schizosaccharomyces_pombe/Ensembl/EF2/Sequence/STARIndex/",
        bismark     : "${params.igenomes_base}/Schizosaccharomyces_pombe/Ensembl/EF2/Sequence/BismarkIndex/",
        gtf         : "${params.igenomes_base}/Schizosaccharomyces_pombe/Ensembl/EF2/Annotation/Genes/genes.gtf",
        bed12       : "${params.igenomes_base}/Schizosaccharomyces_pombe/Ensembl/EF2/Annotation/Genes/genes.bed",
        readme      : "${params.igenomes_base}/Schizosaccharomyces_pombe/Ensembl/EF2/Annotation/README.txt",
        mito_name   : "MT",
        macs_gsize  : "1.21e7",
    ],
    'Sbi1' : [
        fasta       : "${params.igenomes_base}/Sorghum_bicolor/Ensembl/Sbi1/Sequence/WholeGenomeFasta/genome.fa",
        bwa         : "${params.igenomes_base}/Sorghum_bicolor/Ensembl/Sbi1/Sequence/BWAIndex/version0.6.0/",
        bowtie2     : "${params.igenomes_base}/Sorghum_bicolor/Ensembl/Sbi1/Sequence/Bowtie2Index/",
        star        : "${params.igenomes_base}/Sorghum_bicolor/Ensembl/Sbi1/Sequence/STARIndex/",
        bismark     : "${params.igenomes_base}/Sorghum_bicolor/Ensembl/Sbi1/Sequence/BismarkIndex/",
        gtf         : "${params.igenomes_base}/Sorghum_bicolor/Ensembl/Sbi1/Annotation/Genes/genes.gtf",
        bed12       : "${params.igenomes_base}/Sorghum_bicolor/Ensembl/Sbi1/Annotation/Genes/genes.bed",
        readme      : "${params.igenomes_base}/Sorghum_bicolor/Ensembl/Sbi1/Annotation/README.txt",
    ],
    'Sscrofa10.2' : [
        fasta       : "${params.igenomes_base}/Sus_scrofa/Ensembl/Sscrofa10.2/Sequence/WholeGenomeFasta/genome.fa",
        bwa         : "${params.igenomes_base}/Sus_scrofa/Ensembl/Sscrofa10.2/Sequence/BWAIndex/version0.6.0/",
        bowtie2     : "${params.igenomes_base}/Sus_scrofa/Ensembl/Sscrofa10.2/Sequence/Bowtie2Index/",
        star        : "${params.igenomes_base}/Sus_scrofa/Ensembl/Sscrofa10.2/Sequence/STARIndex/",
        bismark     : "${params.igenomes_base}/Sus_scrofa/Ensembl/Sscrofa10.2/Sequence/BismarkIndex/",
        gtf         : "${params.igenomes_base}/Sus_scrofa/Ensembl/Sscrofa10.2/Annotation/Genes/genes.gtf",
        bed12       : "${params.igenomes_base}/Sus_scrofa/Ensembl/Sscrofa10.2/Annotation/Genes/genes.bed",
        readme      : "${params.igenomes_base}/Sus_scrofa/Ensembl/Sscrofa10.2/Annotation/README.txt",
        mito_name   : "MT",
    ],
    'AGPv3' : [
        fasta       : "${params.igenomes_base}/Zea_mays/Ensembl/AGPv3/Sequence/WholeGenomeFasta/genome.fa",
        bwa         : "${params.igenomes_base}/Zea_mays/Ensembl/AGPv3/Sequence/BWAIndex/version0.6.0/",
        bowtie2     : "${params.igenomes_base}/Zea_mays/Ensembl/AGPv3/Sequence/Bowtie2Index/",
        star        : "${params.igenomes_base}/Zea_mays/Ensembl/AGPv3/Sequence/STARIndex/",
        bismark     : "${params.igenomes_base}/Zea_mays/Ensembl/AGPv3/Sequence/BismarkIndex/",
        gtf         : "${params.igenomes_base}/Zea_mays/Ensembl/AGPv3/Annotation/Genes/genes.gtf",
        bed12       : "${params.igenomes_base}/Zea_mays/Ensembl/AGPv3/Annotation/Genes/genes.bed",
        mito_name   : "Mt",
    ],
    'hg38' : [
        fasta       : "${params.igenomes_base}/Homo_sapiens/UCSC/hg38/Sequence/WholeGenomeFasta/genome.fa",
        bwa         : "${params.igenomes_base}/Homo_sapiens/UCSC/hg38/Sequence/BWAIndex/version0.6.0/",
        bowtie2     : "${params.igenomes_base}/Homo_sapiens/UCSC/hg38/Sequence/Bowtie2Index/",
        star        : "${params.igenomes_base}/Homo_sapiens/UCSC/hg38/Sequence/STARIndex/",
        bismark     : "${params.igenomes_base}/Homo_sapiens/UCSC/hg38/Sequence/BismarkIndex/",
        gtf         : "${params.igenomes_base}/Homo_sapiens/UCSC/hg38/Annotation/Genes/genes.gtf",
        bed12       : "${params.igenomes_base}/Homo_sapiens/UCSC/hg38/Annotation/Genes/genes.bed",
        mito_name   : "chrM",
        macs_gsize  : "2.7e9",
        blacklist   : "${projectDir}/assets/blacklists/hg38-blacklist.bed",
    ],
    'hg19' : [
        fasta       : "${params.igenomes_base}/Homo_sapiens/UCSC/hg19/Sequence/WholeGenomeFasta/genome.fa",
        bwa         : "${params.igenomes_base}/Homo_sapiens/UCSC/hg19/Sequence/BWAIndex/version0.6.0/",
        bowtie2     : "${params.igenomes_base}/Homo_sapiens/UCSC/hg19/Sequence/Bowtie2Index/",
        star        : "${params.igenomes_base}/Homo_sapiens/UCSC/hg19/Sequence/STARIndex/",
        bismark     : "${params.igenomes_base}/Homo_sapiens/UCSC/hg19/Sequence/BismarkIndex/",
        gtf         : "${params.igenomes_base}/Homo_sapiens/UCSC/hg19/Annotation/Genes/genes.gtf",
        bed12       : "${params.igenomes_base}/Homo_sapiens/UCSC/hg19/Annotation/Genes/genes.bed",
        readme      : "${params.igenomes_base}/Homo_sapiens/UCSC/hg19/Annotation/README.txt",
        mito_name   : "chrM",
        macs_gsize  : "2.7e9",
        blacklist   : "${projectDir}/assets/blacklists/hg19-blacklist.bed",
    ],
    'mm10' : [
        fasta       : "${params.igenomes_base}/Mus_musculus/UCSC/mm10/Sequence/WholeGenomeFasta/genome.fa",
        bwa         : "${params.igenomes_base}/Mus_musculus/UCSC/mm10/Sequence/BWAIndex/version0.6.0/",
        bowtie2     : "${params.igenomes_base}/Mus_musculus/UCSC/mm10/Sequence/Bowtie2Index/",
        star        : "${params.igenomes_base}/Mus_musculus/UCSC/mm10/Sequence/STARIndex/",
        bismark     : "${params.igenomes_base}/Mus_musculus/UCSC/mm10/Sequence/BismarkIndex/",
        gtf         : "${params.igenomes_base}/Mus_musculus/UCSC/mm10/Annotation/Genes/genes.gtf",
        bed12       : "${params.igenomes_base}/Mus_musculus/UCSC/mm10/Annotation/Genes/genes.bed",
        readme      : "${params.igenomes_base}/Mus_musculus/UCSC/mm10/Annotation/README.txt",
        mito_name   : "chrM",
        macs_gsize  : "1.87e9",
        blacklist   : "${projectDir}/assets/blacklists/mm10-blacklist.bed",
    ],
    'bosTau8' : [
        fasta       : "${params.igenomes_base}/Bos_taurus/UCSC/bosTau8/Sequence/WholeGenomeFasta/genome.fa",
        bwa         : "${params.igenomes_base}/Bos_taurus/UCSC/bosTau8/Sequence/BWAIndex/version0.6.0/",
        bowtie2     : "${params.igenomes_base}/Bos_taurus/UCSC/bosTau8/Sequence/Bowtie2Index/",
        star        : "${params.igenomes_base}/Bos_taurus/UCSC/bosTau8/Sequence/STARIndex/",
        bismark     : "${params.igenomes_base}/Bos_taurus/UCSC/bosTau8/Sequence/BismarkIndex/",
        gtf         : "${params.igenomes_base}/Bos_taurus/UCSC/bosTau8/Annotation/Genes/genes.gtf",
        bed12       : "${params.igenomes_base}/Bos_taurus/UCSC/bosTau8/Annotation/Genes/genes.bed",
        mito_name   : "chrM",
    ],
    'ce10' : [
        fasta       : "${params.igenomes_base}/Caenorhabditis_elegans/UCSC/ce10/Sequence/WholeGenomeFasta/genome.fa",
        bwa         : "${params.igenomes_base}/Caenorhabditis_elegans/UCSC/ce10/Sequence/BWAIndex/version0.6.0/",
        bowtie2     : "${params.igenomes_base}/Caenorhabditis_elegans/UCSC/ce10/Sequence/Bowtie2Index/",
        star        : "${params.igenomes_base}/Caenorhabditis_elegans/UCSC/ce10/Sequence/STARIndex/",
        bismark     : "${params.igenomes_base}/Caenorhabditis_elegans/UCSC/ce10/Sequence/BismarkIndex/",
        gtf         : "${params.igenomes_base}/Caenorhabditis_elegans/UCSC/ce10/Annotation/Genes/genes.gtf",
        bed12       : "${params.igenomes_base}/Caenorhabditis_elegans/UCSC/ce10/Annotation/Genes/genes.bed",
        readme      : "${params.igenomes_base}/Caenorhabditis_elegans/UCSC/ce10/Annotation/README.txt",
        mito_name   : "chrM",
        macs_gsize  : "9e7",
    ],
    'canFam3' : [
        fasta       : "${params.igenomes_base}/Canis_familiaris/UCSC/canFam3/Sequence/WholeGenomeFasta/genome.fa",
        bwa         : "${params.igenomes_base}/Canis_familiaris/UCSC/canFam3/Sequence/BWAIndex/version0.6.0/",
        bowtie2     : "${params.igenomes_base}/Canis_familiaris/UCSC/canFam3/Sequence/Bowtie2Index/",
        star        : "${params.igenomes_base}/Canis_familiaris/UCSC/canFam3/Sequence/STARIndex/",
        bismark     : "${params.igenomes_base}/Canis_familiaris/UCSC/canFam3/Sequence/BismarkIndex/",
        gtf         : "${params.igenomes_base}/Canis_familiaris/UCSC/canFam3/Annotation/Genes/genes.gtf",
        bed12       : "${params.igenomes_base}/Canis_familiaris/UCSC/canFam3/Annotation/Genes/genes.bed",
        readme      : "${params.igenomes_base}/Canis_familiaris/UCSC/canFam3/Annotation/README.txt",
        mito_name   : "chrM",
    ],
    'danRer10' : [
        fasta       : "${params.igenomes_base}/Danio_rerio/UCSC/danRer10/Sequence/WholeGenomeFasta/genome.fa",
        bwa         : "${params.igenomes_base}/Danio_rerio/UCSC/danRer10/Sequence/BWAIndex/version0.6.0/",
        bowtie2     : "${params.igenomes_base}/Danio_rerio/UCSC/danRer10/Sequence/Bowtie2Index/",
        star        : "${params.igenomes_base}/Danio_rerio/UCSC/danRer10/Sequence/STARIndex/",
        bismark     : "${params.igenomes_base}/Danio_rerio/UCSC/danRer10/Sequence/BismarkIndex/",
        gtf         : "${params.igenomes_base}/Danio_rerio/UCSC/danRer10/Annotation/Genes/genes.gtf",
        bed12       : "${params.igenomes_base}/Danio_rerio/UCSC/danRer10/Annotation/Genes/genes.bed",
        mito_name   : "chrM",
        macs_gsize  : "1.37e9",
    ],
    'dm6' : [
        fasta       : "${params.igenomes_base}/Drosophila_melanogaster/UCSC/dm6/Sequence/WholeGenomeFasta/genome.fa",
        bwa         : "${params.igenomes_base}/Drosophila_melanogaster/UCSC/dm6/Sequence/BWAIndex/version0.6.0/",
        bowtie2     : "${params.igenomes_base}/Drosophila_melanogaster/UCSC/dm6/Sequence/Bowtie2Index/",
        star        : "${params.igenomes_base}/Drosophila_melanogaster/UCSC/dm6/Sequence/STARIndex/",
        bismark     : "${params.igenomes_base}/Drosophila_melanogaster/UCSC/dm6/Sequence/BismarkIndex/",
        gtf         : "${params.igenomes_base}/Drosophila_melanogaster/UCSC/dm6/Annotation/Genes/genes.gtf",
        bed12       : "${params.igenomes_base}/Drosophila_melanogaster/UCSC/dm6/Annotation/Genes/genes.bed",
        mito_name   : "chrM",
        macs_gsize  : "1.2e8",
    ],
    'equCab2' : [
        fasta       : "${params.igenomes_base}/Equus_caballus/UCSC/equCab2/Sequence/WholeGenomeFasta/genome.fa",
        bwa         : "${params.igenomes_base}/Equus_caballus/UCSC/equCab2/Sequence/BWAIndex/version0.6.0/",
        bowtie2     : "${params.igenomes_base}/Equus_caballus/UCSC/equCab2/Sequence/Bowtie2Index/",
        star        : "${params.igenomes_base}/Equus_caballus/UCSC/equCab2/Sequence/STARIndex/",
        bismark     : "${params.igenomes_base}/Equus_caballus/UCSC/equCab2/Sequence/BismarkIndex/",
        gtf         : "${params.igenomes_base}/Equus_caballus/UCSC/equCab2/Annotation/Genes/genes.gtf",
        bed12       : "${params.igenomes_base}/Equus_caballus/UCSC/equCab2/Annotation/Genes/genes.bed",
        readme      : "${params.igenomes_base}/Equus_caballus/UCSC/equCab2/Annotation/README.txt",
        mito_name   : "chrM",
    ],
    'galGal4' : [
        fasta       : "${params.igenomes_base}/Gallus_gallus/UCSC/galGal4/Sequence/WholeGenomeFasta/genome.fa",
        bwa         : "${params.igenomes_base}/Gallus_gallus/UCSC/galGal4/Sequence/BWAIndex/version0.6.0/",
        bowtie2     : "${params.igenomes_base}/Gallus_gallus/UCSC/galGal4/Sequence/Bowtie2Index/",
        star        : "${params.igenomes_base}/Gallus_gallus/UCSC/galGal4/Sequence/STARIndex/",
        bismark     : "${params.igenomes_base}/Gallus_gallus/UCSC/galGal4/Sequence/BismarkIndex/",
        gtf         : "${params.igenomes_base}/Gallus_gallus/UCSC/galGal4/Annotation/Genes/genes.gtf",
        bed12       : "${params.igenomes_base}/Gallus_gallus/UCSC/galGal4/Annotation/Genes/genes.bed",
        readme      : "${params.igenomes_base}/Gallus_gallus/UCSC/galGal4/Annotation/README.txt",
        mito_name   : "chrM",
    ],
    'panTro4' : [
        fasta       : "${params.igenomes_base}/Pan_troglodytes/UCSC/panTro4/Sequence/WholeGenomeFasta/genome.fa",
        bwa         : "${params.igenomes_base}/Pan_troglodytes/UCSC/panTro4/Sequence/BWAIndex/version0.6.0/",
        bowtie2     : "${params.igenomes_base}/Pan_troglodytes/UCSC/panTro4/Sequence/Bowtie2Index/",
        star        : "${params.igenomes_base}/Pan_troglodytes/UCSC/panTro4/Sequence/STARIndex/",
        bismark     : "${params.igenomes_base}/Pan_troglodytes/UCSC/panTro4/Sequence/BismarkIndex/",
        gtf         : "${params.igenomes_base}/Pan_troglodytes/UCSC/panTro4/Annotation/Genes/genes.gtf",
        bed12       : "${params.igenomes_base}/Pan_troglodytes/UCSC/panTro4/Annotation/Genes/genes.bed",
        readme      : "${params.igenomes_base}/Pan_troglodytes/UCSC/panTro4/Annotation/README.txt",
        mito_name   : "chrM",
    ],
    'rn6' : [
        fasta       : "${params.igenomes_base}/Rattus_norvegicus/UCSC/rn6/Sequence/WholeGenomeFasta/genome.fa",
        bwa         : "${params.igenomes_base}/Rattus_norvegicus/UCSC/rn6/Sequence/BWAIndex/version0.6.0/",
        bowtie2     : "${params.igenomes_base}/Rattus_norvegicus/UCSC/rn6/Sequence/Bowtie2Index/",
        star        : "${params.igenomes_base}/Rattus_norvegicus/UCSC/rn6/Sequence/STARIndex/",
        bismark     : "${params.igenomes_base}/Rattus_norvegicus/UCSC/rn6/Sequence/BismarkIndex/",
        gtf         : "${params.igenomes_base}/Rattus_norvegicus/UCSC/rn6/Annotation/Genes/genes.gtf",
        bed12       : "${params.igenomes_base}/Rattus_norvegicus/UCSC/rn6/Annotation/Genes/genes.bed",
        mito_name   : "chrM",
    ],
    'sacCer3' : [
        fasta       : "${params.igenomes_base}/Saccharomyces_cerevisiae/UCSC/sacCer3/Sequence/WholeGenomeFasta/genome.fa",
        bwa         : "${params.igenomes_base}/Saccharomyces_cerevisiae/UCSC/sacCer3/Sequence/BWAIndex/version0.6.0/",
        bowtie2     : "${params.igenomes_base}/Saccharomyces_cerevisiae/UCSC/sacCer3/Sequence/Bowtie2Index/",
        star        : "${params.igenomes_base}/Saccharomyces_cerevisiae/UCSC/sacCer3/Sequence/STARIndex/",
        bismark     : "${params.igenomes_base}/Saccharomyces_cerevisiae/UCSC/sacCer3/Sequence/BismarkIndex/",
        readme      : "${params.igenomes_base}/Saccharomyces_cerevisiae/UCSC/sacCer3/Annotation/README.txt",
        mito_name   : "chrM",
        macs_gsize  : "1.2e7",
    ],
    'susScr3' : [
        fasta       : "${params.igenomes_base}/Sus_scrofa/UCSC/susScr3/Sequence/WholeGenomeFasta/genome.fa",
        bwa         : "${params.igenomes_base}/Sus_scrofa/UCSC/susScr3/Sequence/BWAIndex/version0.6.0/",
        bowtie2     : "${params.igenomes_base}/Sus_scrofa/UCSC/susScr3/Sequence/Bowtie2Index/",
        star        : "${params.igenomes_base}/Sus_scrofa/UCSC/susScr3/Sequence/STARIndex/",
        bismark     : "${params.igenomes_base}/Sus_scrofa/UCSC/susScr3/Sequence/BismarkIndex/",
        gtf         : "${params.igenomes_base}/Sus_scrofa/UCSC/susScr3/Annotation/Genes/genes.gtf",
        bed12       : "${params.igenomes_base}/Sus_scrofa/UCSC/susScr3/Annotation/Genes/genes.bed",
        readme      : "${params.igenomes_base}/Sus_scrofa/UCSC/susScr3/Annotation/README.txt",
        mito_name   : "chrM",
    ],
]
